@import "tailwindcss";


@theme {
  --font-avant: var(--font-avant-garde);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
.scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll ;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 600;
    margin-right: 30px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    transition: all linear 0.4s;
    text-transform: uppercase;
}
.scroller h4:hover{
    color: #03BB00;
    -webkit-text-stroke: 2px #03BB00;
}